$lt-gray: #ddd;
$background-moredark:#275a25;
$background-dark: #2f6e2d;
$background-light: #87d184;
$background-pale: #87d184;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}
.toolbarHeader{
    background: $background-dark;
    color: floralwhite;
}

.active {
    background: $background-moredark;
}